@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 13px;
  padding: 0;
  margin: 1rem;
}

header {
  margin: 1rem 0;
}

section {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.25rem;
}

section > div {
  padding: 0.5rem;
  background: #f8f8f8;
  color: #40455e;
  font-weight: 500;
}

@media (min-width: 490px) {
  section {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
