:root {
  --link-color: #516bc0;
  --link-active-color: #2c4aac;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.25rem;
  color: #40455e;
  background: #f8f8f8;
}

a, a:visited {
  color: var(--link-color);
  border-bottom: 1px dashed var(--link-color);
  text-decoration: none;
}

a:active, a:hover, a:focus {
  color: var(--link-active-color);
  border-bottom: 1px solid var(--link-active-color);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}

section {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.25rem;
  margin: 1rem;
}

section > dl > dt {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 50%;
  background: #ff7373;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  margin: 0 0 0.5rem;
}

section > dl > dd {
  margin: 0.25rem 0;
  background: #f3f3f3;
  padding: 0.35rem 0.5rem;
  border-radius: 4px;
}

@media screen and (min-width: 640px) {
  section {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }
}
